.footer {
    background-color: #222;
    width: 100%;
    padding: 2rem;
  
    font-size: 0.8rem;
    /* display: flex;
    justify-content: center;
    margin-bottom: 0; */
  }
  
  .footer > p {
    color: #f6f2d4;
    text-align: center;
  }
  