@import url(socialcards.css);
@import url(header.css);
@import url(./components/headline/headline.css);
@import url(footer.css);
@import url(skill-bar.css);
@import url(hobbies-container.css);
@import url(contact-me-button.css);


* {
  box-sizing: border-box;

}
/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  font-family: "Playfair Display", serif;
  /* height: 100%; */
  background-color: #f6f2d4;
  margin: 0;
}


.welcome-page {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 5%;
}


