@import url(socialcards.css);
@import url(header.css);
* {
  box-sizing: border-box;
  /* margin:0;
  padding: 0; */
}
/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  font-family: "Playfair Display", serif;
  /* height: 100%; */
  background-color: #f6f2d4;
  margin: 0;
}
.hero-image {
  height: 53vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 20%;

  @media (min-width: 43rem) {
    height: 100vh;
  }
}
.photo-of-zach {
  width: 100%;
}
.photo-of-zach-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #333;
  font-size: 3.3rem;
  margin: 5%;
  padding-top: 10%;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 2rem;
  margin: 5%;
  font-family: "Playfair Display", serif;
}
p {
  color: #333;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 5%;
  font-family: "Playfair Display", serif;
}
.welcome-page {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 5%;
}
.cards-container {
  margin: 5%;
}

/* Skillbar */
.skill-bar-main-container {
  margin: 5%;
}
.skills-container {
  width: 100%;
  background-color: #f5e8c7;
  border-radius: 0.6rem;
  box-shadow: 5px 5px 5px #d3dedc;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  font-weight: 400;
}

.html {
  width: 60%;
  background-color: #368b85;
  border-radius: 0.6rem;
  margin-bottom: 0.7rem;
}
.css {
  width: 50%;
  background-color: #f6d155;
  border-radius: 0.6rem;
  margin-bottom: 0.7rem;
}
.js {
  width: 20%;
  background-color: #f07060;
  border-radius: 0.6rem;
}
.container-hobbies {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory; */
  margin: 5%;
}
.hobbies-item {
  background-color: whitesmoke;
  width: 18%;
  height: 5%;
  border-radius: 0.4rem;
  padding: 0.2rem;
  /* opacity: 0.7; */
  position: relative;
  bottom: 2rem;
  right: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  /* min-width: 50%;
  scroll-snap-align: start; */
  box-shadow: 2px 2px 2px #333;
}
.hiking-pic {
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 2px #333;
}
.jogging-pic {
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 2px #333;
}
.kayaking-pic {
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 2px #333;
}
/* .contact-me > .btn {
  background-color: #fc0;
  width: 30%;
  height: 20%;
  border-radius: 0.6rem;
  padding: 0.6rem;
  margin: 0.1rem;
  padding: 1rem;
  margin: 5.5rem;
} */
.contact-me {
  text-align: center;
}
.button_contact-me {
  background-color: #fc0;
  width: 30%;
  height: 20%;
  border-radius: 0.6rem;
  padding: 0.6rem;
  text-align: center;
  border: none;
}
.contact-message {
  font-size: 1rem;
  color: #333;
  margin: 3rem;
}
a {
  color: #2c3531;
  text-decoration: none;
  font-weight: 200;
}
a:link {
  color: black;
  font-weight: 400;
}
a:visited {
  color: #2c3531;
}
a:active {
  color: plum;
}
.bottom-container {
  margin-bottom: 3rem;
}
.footer {
  background-color: #222;
  width: 100%;
  padding: 2rem;

  font-size: 0.8rem;
  /* display: flex;
  justify-content: center;
  margin-bottom: 0; */
}

.footer > p {
  color: #f6f2d4;
  text-align: center;
}
